body {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/backgrounds/landing.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 48px;
  font-family: "Mate", serif;
}

#menuIcon {
  top: 10%;
  left: 15%;
  position: absolute;
  height: 40px;
  width: 80px;
}

.header p {
  margin: 5px;
}

.sub-header {
  display: flex;
  height: 200px;
}

.menu {
  color: white;
  font-style: italic;
}

#breakfast-bg {
  background: url("./assets/foodtop/breakfast.jpg") no-repeat;
  background-size: 100% 100%;
}

#lunch-bg {
  background: url("./assets/foodtop/lunch.jpg") no-repeat;
  background-size: 100% 100%;
}

#dinner-bg {
  background: url("./assets/foodtop/dinner.jpg") no-repeat;
  background-size: 100% 100%;
}

#lunch-bg:hover {
  background-color: #f5f5f5;
  opacity: 0.5;
  transition: 500ms;
}

.menu,
.sub-menu {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.sub-menu {
  flex-direction: column;
}

#partyTime,
#happyHour {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

#partyTime {
  background-color: #f15a29;
  color: white;
}
#happyHour {
  background-color: #f5f5f5;
}

.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#main-img1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  box-shadow: 0px 0px 5px grey;
  float: left;
  margin-right: 100px;
}

.main-text {
  padding-top: 50px;
}

#main-text2 {
  text-align: right;
}

button {
  background-color: white;
  height: 50px;
  padding: 10px 30px;
  border: 2px solid #f15a29;
  border-radius: 5px;
  color: #f15a29;
  font-size: small;
  font-weight: bold;
}

button:hover {
  background-color: #f15a29;
  color: #f5f5f5;
  transition: 500ms;
}

#main-img2 {
  display: flex;
  flex-direction: row;
  height: 50%;
  padding: 20px;
  box-shadow: 0px 0px 5px grey;
  float: right;
  margin-left: 100px;
}

#fast-food {
  margin-bottom: 20%;
}

.main-main {
  height: 200px;
  background-color: black;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f15a29;
  color: #f5f5f5;
  font-size: 24px;
  padding-top: 50px;
}

#footerMenu {
  font-size: 54px;
}

footer p {
  margin: 10px;
}

#copyright {
  margin-top: 50px;
}

#logos img {
  margin-left: 20px;
}

.above-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  color: #f5f5f5;
  background: url("./assets/backgrounds/subscribe.jpg");
  background-size: 100% 100%;
  font-size: x-large;
}

#subscribe {
  background-color: #f15a29;
  color: #f5f5f5;
  height: 40px;
}

#subscribe:hover {
  border: 2px solid #f15a29;
  background-color: #f5f5f5;
  color: #f15a29;
  transition: 500ms;
}

input {
  height: 40px;
  border-radius: 5px;
  background-color: #f5f5f5;
  opacity: 0.4;
  width: 50%;
  margin-right: 10px;
  border: none;
}

.reviews {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 5px grey;
  padding: 20px;
  color: grey;
}

.aboutMenu,
.happyCustomers {
  width: 100%;
  text-align: center;
}

.happyCustomers {
  padding-right: 20px;
}

.aboutMenu {
  border-left: 1px solid grey;
  padding-left: 20px;
}

.reviews h2 {
  color: #f15a29;
}
