/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/backgrounds/landing.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
}

.sub-header {
  display: flex;
}

.menu {
  width: 25%;
}

.sub-menu {
  width: 25%;
}
