body {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/backgrounds/landing.jpg") no-repeat;
  background-size: 100% 100%;
  color: white;
  font-size: 48px;
  font-family: "Mate", serif;
}

#menuIcon {
  top: 10%;
  left: 15%;
  position: absolute;
  height: 40px;
  width: 80px;
}

.header p {
  margin: 5px;
}

.sub-header {
  display: flex;
  height: 200px;
}

.menu {
  color: white;
  font-style: italic;
}

#breakfast-bg {
  background: url("./assets/foodtop/breakfast.jpg") no-repeat;
  background-size: 100% 100%;
}

#lunch-bg {
  background: url("./assets/foodtop/lunch.jpg") no-repeat;
  background-size: 100% 100%;
}

#dinner-bg {
  background: url("./assets/foodtop/dinner.jpg") no-repeat;
  background-size: 100% 100%;
}

#lunch-bg:hover {
  background-color: #f5f5f5;
  opacity: 0.5;
}

.menu,
.sub-menu {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.sub-menu {
  flex-direction: column;
}

#partyTime,
#happyHour {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

#partyTime {
  background-color: #f15a29;
  color: white;
}
#happyHour {
  background-color: #f5f5f5;
}
